<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>frontend</title>
    <script src="static/js/vue.js"></script>
    <script src="static/js/vue-resource.js"></script>
</head>
<body>
<div id="app">

    <input class="add-todo" autofocus autocomplete="off" placeholder="Qual a sua tarefa?" v-model="todo" @keyup.enter="addTodo">
    <ul class="todo-list">
        <li class="todo" v-for="todo in todos"
            :class="{completed: todo.done ==1}">
            <div class="view">
                <input class="toggle" type="checkbox" v-model="todo.done">
                <label @dblclick="editTodo(todo)">{{todo.description}}</label>
                <button class="destroy" @click="deleteTodo(todo)">Remover</button>
            </div>
        </li>
    </ul>
                <button @click="listAll">All</button>
                <button @click="onlyDone">Done</button>
                <button @click="onlyDoing">Doing</button>
</div>

<script src="static/js/app.js"></script>
</body>
</html>